{% extends 'layout/layout.html' %}

{% block content %}
    <form method="post">

        <h2>Inscription</h2>
        {% if error_message %}
            <h2>{{ error_message }}</h2>
        {% endif %}
        {% csrf_token %}
        <label>
            Nom d'utilisateur
            <input name="username" type="text">
        </label>
        <label>
            Email
            <input type="email" name="email">
        </label>

        <label>
            Nom
            <input type="text" name="last_name">
        </label>

        <label>
            Prénom
            <input type="text" name="first_name">
        </label>
        <label>
            Mot de passe
            <input name="password" type="password">
        </label>
        <button type="submit">S'inscrire</button>
    </form>
{% endblock %}